################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/metadata/data/rabbitmq/data
